


/* ================= NAVBAR ================= */
.navbar {
  margin: 10px;
  padding: 10px 40px;
  border: 2px solid #ff7a00;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 5px;
  z-index: 1000;
  background: #0b0603;
  box-shadow: 0 0 20px rgba(255, 122, 0, 0.3);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left img {
  width: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ff7a00;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a:hover,
.active-link {
  color: #ff7a00 !important;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}


/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #0b0603;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}